.left { float: left; }
.right { float: right; }
.clear { clear: both;}
.text-center { text-align: center;}
.clearfix { display: block; }
.clearfix:after { 
		content: '\0020';
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		overflow: hidden;
}
.hide { display: none;}

ul { list-style: none;}
body, div { margin: 0; padding: 0; }
body {
	 background: #EAEAEA;
}
body, textarea,
input.text-input {
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-size: 20px;

}
a { text-decoration: none; }

#content {
	 min-height: 230px;
	 background: #EAEAEA;
}

#header {
	border-bottom: 1px solid #AAA;
	padding: 8px 0;
	background: #EEE;
	background: -webkit-gradient(linear,0 0,0 bottom, from(white), to(#CBCBCB));
	background: -webkit-linear-gradient(white, #CBCBCB);
	background: -moz-linear-gradient(white, #CBCBCB);
	background: -ms-linear-gradient(white, #CBCBCB);
	background: -o-linear-gradient(white, #CBCBCB);

}

.commands {
	  text-align: center;
	  padding: 2px 4px 6px 4px;
	  background: #EAEAEA;
}

.commands button {
  	  padding: 4px 6px;
	  height: 36px;
	  line-height: 28px;
	  border: 1px solid #CCC;
	  font-size: 18px;
	  display: inline-block;
          background: #CBCBCB;
	  background: -webkit-gradient(linear,0 0,0 bottom, from(white), to(#CBCBCB));
	  background: -webkit-linear-gradient(white, #CBCBCB);
	  background: -moz-linear-gradient(white, #CBCBCB);
	  background: -ms-linear-gradient(white, #CBCBCB);
	  background: -o-linear-gradient(white, #CBCBCB);
	  border-radius: 4px;
}

#status-commands {
		 text-align: right;
}

#status-commands.detail {
			text-align: center;
}

#commands button:hover {
	  background-color: #AAA;
}

.notify {
	padding: 3px 24px;
	background: lightyellow;
	text-align: center;
}

#notify-area {
	     color: darkblue;
	     background: lightyellow;
	     padding: 3px;
	     text-align: center;
}

.header-button {
     font-size: 26px;
     line-height: 22px;
     padding: 4px 20px;
     margin: 2px 6px 2px 2px;
     border-radius: 5px 5px;
     font-weight: bold;
     border: 1px solid #AAA;
     color: #999;
}

#logo {
      padding: 6px 3px 6px 3px;
      margin: 2px 6px 2px 6px;
}

#logo span {
      color: lightblue;
}

#loading {
	 width: 30px;
}

.timeline .status-row { padding: 8px 12px; border-bottom: 1px solid #F2F2F2;}
.timeline .avatar { width: 54px; height: 50px; margin: 2px 0 0 0;}
.avatar img { border-radius: 5px 5px; }
.timeline .status-content { } /* max-width: 900px;}*/

#update-status {
	       padding: 6px 20px;
}

#update-status textarea {
	       width: 100%;
	       height: 70px;
}

#query {
       text-align: center;
       margin: 10px 20px 20px 20px;
}

#query #id_q {
       width: 100%;
       height: 30px;
       border: 1px solid #AAA;

}

.query-list {
	    text-align: center;
	    padding-bottom: 20px;
}

.query-list span {
	    margin: 2px 6px;
}

.status-photo {
	      text-align: center;
}
.status-photo img {
	      //	      max-width: 300px;
	      max-width: 90%;
}

#userlist-area {
	  margin: 0;
	  position: relative;
	  width: 100%;
	  height: 300px;
}

#user-box {
	  position: absolute;
	  width: 300px;
	  top: 10px;
	  text-align: center;
	  border: 1px solid #999;
	  padding-bottom: 6px;
}

#user-box img {
	  margin: 6px;
	  border-radius: 3px;
}

#user-box div.name {
	  font-size: 12px;
	  line-height: 12px;
	  height: 10px;	  
	  margin: 0;
	  padding: 0;
}